<!DOCTYPE html>
<html ng-app="EssentialAir">
  <head>
  <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn7lMGzul-f5i72BrVHNgI8F12PDKvSOQ&libraries=places"></script>
    <!-- // <script src="https://maps.googleapis.com/maps/api/js"></script>  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script src="js/angular-google-maps-geocoder.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
  <h1></h1>
    <div ng-controller='MainController' class="container-fluid homeWrapper">
      <div class="row">
        <div>
        <!-- google map search bar -->
          <input id="pac-input" class="controls" type="text"
              placeholder="Enter a location">
              <!-- google map -->
          <div id="map" class="col-xs-8 col-xs-offset-1"></div>
        </div>
        <div class="col-xs-2 btnWrapper">
<!-- aside buttons...toogle between information -->
          <button class="informationBtn" ng-click="firstToggle()">Air quality data and desc</button>
          
        
          <button class="informationBtn" ng-click="divToggle()">health recommendations</button>
          <div class="dataWrapper" ng-show=""></div>

          <button class="informationBtn">dominant pollutiona nd pollution effects</button>
          <div class="dataWrapper" ng-show=""></div>

          <button class="informationBtn">filler </button>
          <div class="dataWrapper" ng-show=""></div>

        </div>
        <div class="dataWrapper" ng-show="firstWrapper">
          <h3>AIR Description</h3>{{data.airQualityDesc}}
          <h3>Air quality index</h3>{{data.airQualityIndex}}
        </div>
      <h2>BREEZE-O-METER DATA:</h2>
      <h3>HEALTH RECCOMMENDAIONS</h3>{{data.healthRecommendations}}
      <h3>DOMINANT POLLUTANTS</h3>{{data.dominantPollutant}}
      <h3>POLLUTION EFFECTS</h3>{{data.pollutionEffects}}


      
      </div>
      
    </div>

  </body>
</html>
