  
<h1>Logged in!</h1>

<a href="/logout">Logout</a>

  
<div ng-controller='MainController' class="homeWrapper container-fluid">
      <div class="row">
        <div>
        <!-- google map search bar -->
          <input id="pac-input" class="controls" type="text"
              placeholder="Enter a location">
              <!-- google map -->
          <div id="map" class="col-xs-8"></div>
        </div>
        <div class="col-xs-2 btnWrapper">
        <!-- Nav....Informational buttons -->
          <button class="informationBtn" ng-click="firstToggle()">Air Quality</button>
          <button class="informationBtn" ng-click="secondToggle()">Solar Efficency</button>
          <button class="informationBtn" ng-click="thirdToggle()">Climate</button>
          <i class="wi wi-night-sleet"></i>
          <i class="wi wi-day-sunny"></i>
        </div>

        <div class="col-xs-12">
        <!-- Air Quality Info -->
          <div class="dataWrapper" ng-show="firstWrapper">
            
              <h2 class="ariDesc">You have {{data.airQualityDesc}}. {{data.airQualityIndex}} out of 100</h2>
                <canvas id="foo"></canvas><br>
            
            

            <div class="aqiDesContainer">
              <h2 class="aqiHeader">Health Pollutants: </h2>
                <span class="aqiDetails">{{data.healthRecommendations}}</span><br>
              <h2 class="aqiHeader">Domminant Pollutants: </h2>
                <span class="aqiDetails">{{data.dominantPollutant}}</span><br>
              <h2 class="aqiHeader">Pollution Effects: </h2>
                <span class="aqiDetails">{{data.pollutionEffects}}</span>
            </div>
            <table class="airTable">
              <thead>
                <th>Health Pollutants</th>
                <th>Domminant Pollutants</th>
                <th>Pollution Effects</th>
              </thead>
              <tbody>
                <tr>
                  <td>{{data.healthRecommendations}}</td>
                  <td>{{data.dominantPollutant}}</td>
                  <td>{{data.pollutionEffects}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- aside buttons...toogle between information -->
          <div class="dataWrapper " ng-show="secondWrapper">
            <button ng-mousedown="dhi = !dhi" class="solarBtn">DNI?</button>
            <button ng-mousedown="ghi = !ghi" class="solarBtn">GHI?</button>
            <button ng-mousedown="latTilt = !latTilt" class="solarBtn ">Lat Tilt?</button>
            <div id="container"></div>
            <div class="thisPlaceHodler">
            <span ng-show="dhi" class="solarInfo">Direct Normal Irradiance is the amount of solar raidation received per unit area by a surface that is always held perpendicular to the rays that come in a straight line from the idrection of the sun at its current position in the sky. This data provides monthly average and annual average daily total solar resource averaged over surface cells of 0.1 degrees in both latitude and longitude, or about 10 km in size. The values returned are kWh/m2/day (kilowatt hours per square meter per day).</span>
            <!-- make sure GHI -->
            <span ng-show="ghi" class="solarInfo">Global Horizontal Irradiance is the total amount of shortwave radiation receieved from above by a surface horizontal ot the ground. This value is of particular interest to photovoltaic instalations and includes Direct Normal Irradiance (DNI) and Diffuse Horizontal Irradiance (DIF).This data provides monthly average and annual average daily total solar resource averaged over surface cells of 0.1 degrees in both latitude and longitude, or about 10 km in size. The values returned are kWh/m2/day (kilowatt hours per square meter per day).</span>
            
            <!-- make sure LAT TILT -->
            <span ng-show="latTilt" class="solarInfo">This data provides monthly average and annual average daily total solar resource averaged over surface cells of 0.1 degrees in both latitude and longitude, or about 10 km in size. The values returned are kWh/m2
            /day (kilowatt hours per square meter per day).</span>
            </div>
            
            
          </div>
        
          <div class="dataWrapper" ng-show="thirdWrapper">
          {{weather}}
          {{weather.desc}}
            <h3>weather information</h3>
            <div class="weatherShit col-xs-6 ">
              <!-- weather column 1 -->
              <div class="row title">Description</div>
              <div class="row">Temp</div>
              <div class="row">Min Temp</div>
              <div class="row">Max Temp</div>
            </div>
            <div class="weatherShit col-xs-6">
              <div class="row">Clouds</div>
              
              <!-- weather column 2 -->
              <div class="row">Pressure</div>
              <div class="row">Humidity</div>
              <div class="row">Wind Speed</div>
              <div class="row">Wind Degree</div>
            </div>
          </div>
          <!-- <div class="dataWrapper" ng-show="fourthWrapper">
            <h4>THIS IS FILLER TEXT</h4>
          </div> -->
        </div>
      <h1>{{error_message}}</h1>
      
      </div>
         
    </div>