
<div class="container-fluid" >
  <h1 class="text-center homeHeader">Please Enter A Location</h1>
  <div class="row">
    <div class="col-md-12 jumbotron">
      <div class="col-xs-9" ng-show="toggle.map">
        <!-- google map search bar -->
          <input id="pac-input" class="controls" type="text"
              placeholder="Enter a location">
              <!-- google map -->
          <div id="map" ng-show="toggle.map" ng-model="toggle.map"></div>
      </div>
      <div class="col-xs-2" ng-hide="data == undefined">
        <button class="informationBtn" ng-click="divToggle(toggle.map)">
        <span>Map</span>
        </button>
        <button class="informationBtn" ng-model="toggle.first" ng-click="divToggle(toggle.first)">
        <span>Air Quality</span>
        </button>
        <button class="informationBtn" ng-model="toggle.second" ng-click="divToggle(toggle.second)">
        <span>Solar Efficency</span>
        </button>
        <button class="informationBtn" ng-model="toggle.third" ng-click="divToggle(toggle.third)">
        <span>Climate</span>
        </button>
      </div>
      <div class="col-xs-12">
        <!-- Air Quality Info -->
            
          <div class="dataWrapper" ng-model="toggle.first" ng-show="toggle.first">
          <div class="row">
              <div class="col-xs-6" id="gaugeContainer">
                <div id="gauge">Gauge will render</div>
              </div>
              <div class="col-xs-6 airDescWrapper">
                <p class="airDesc">You have {{data.airQualityDesc}}.</p>
              </div>  
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="airHeaders">Health Pollutants</div>
                  <p class="airDetails">{{data.healthRecommendations}}</p>
              </div>
              <div class="col-xs-4">
                <div class="airHeaders">Domminant Pollutants</div>
                <p class="airDetails">{{data.dominantPollutant}}</p>
              </div>
              <div class="col-xs-4">
                <div class="airHeaders">Pollution Effects</div>
                <p class="airDetails">{{data.pollutionEffects}}</p>
              </div>
            </div>
          </div>
          <!-- aside buttons...toogle between information -->
          <div class="dataWrapper" ng-model="toggle.second" ng-show="toggle.second">
            <div class="row">
            <div class="col-xs-12">
              <div id="chart-container">FusionCharts will render here</div>
            </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <button  class="solarBtn" ng-click="firstSolarBtn()">
                  <span class="solarinfoPara">DNI?</span>
                </button>
              </div>
              <div class="col-xs-3">
                <button class="solarBtn" ng-click="secondSolarBtn()">
                  <span class="solarinfoPara">GHI?</span>
                </button>              
              </div>
              <div class="col-xs-3">
                <button class="solarBtn" ng-click="thirdSolarBtn()">
                  <span class="solarinfoPara">Lat Tilt?</span>
                </button>
              </div>
              <div class="col-xs-3">
                <button class="solarBtn" ng-click="fourthSolarBtn()">
                  <span class="solarinfoPara">X</span>
                </button>
              </div>
            </div>
            <div class="solarWrapper" ng-show="firstSolarWrapper">
              <span class="solarInfo">This data provides monthly average and annual average daily total solar resource averaged over surface cells of 0.1 degrees in both latitude and longitude, or about 10 km in size. The values returned are kWh/m2/day (kilowatt hours per square meter per day). The insolation values represent the resource available to concentrating systems that track the sun throughout the day. </span>
              </div>
              <!-- make sure GHI -->
              <div class="solarWrapper" ng-show="secondSolarWrapper">
              <span class="solarInfo">This data provides monthly average and annual average daily total solar resource averaged over surface cells of 0.1 degrees in both latitude and longitude, or about 10 km in size. The values returned are kWh/m2/day (kilowatt hours per square meter per day). The insolation values represent the global horizontal resource - the geometric sum of direct normal and diffuse irradiance components, representing total energy available on a planar surface.</span>
              </div>
              <!-- make sure LAT TILT -->
              <div class="solarWrapper" ng-show="thirdSolarWrapper">
              <span class="solarInfo">This data provides monthly average and annual average daily total solar resource averaged over surface cells of 0.1 degrees in both latitude and longitude, or about 10 km in size. The insolation values represent the resource available to fixed flat plate system tilted towards the equator at an angle equal to the latitude</span>
            </div>
          </div>
        
          <div class="dataWrapper" ng-model="toggle.third" ng-show="toggle.third">
          <!-- below hadstyle of class  solarInfo weatherWrapper-->
            <div class="col-xs-12 weatherWrapper">
              <div class="row firstWeatherRow">
                <div class="col-xs-4 singleWeatherWrapper">
                  <i ng-if="weather.temp > 65" class="wi wi-day-sunny climateInfo"></i>
                  <i ng-if="weather.temp < 64" class="wi wi-day-cloudy-windy climateInfo"></i>
                  <p class="weatherDetails">Temperature-{{weather.temp}}°F</p>
                </div>
                <div class="col-xs-4 singleWeatherWrapper">
                  <i class="wi wi-day-cloudy climateInfo"></i>
                  <p class="weatherDetails">Cloud Cover-{{weather.cloud * (100)}}%</p>
                </div>
                <div class="col-xs-4 singleWeatherWrapper">
                <i class="wi wi-smog climateInfo"></i>
                 <p class="weatherDetails"> Ozone(Dobson units)-{{weather.ozone}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 secondWeatherRow">
                  <span class="weatherDetails">{{weather.summary}}</span>
                </div>
              </div>
              <div class="row thirdWeatherRow">
                <div class="col-xs-4 singleWeatherWrapper">
                  <i class="wi wi-barometer climateInfo"></i>
                  <p class="weatherDetails">Pressure(Pa)-{{weather.pres}}</p>
                </div>
                <div class="col-xs-4 singleWeatherWrapper">
                  <i class="wi wi-raindrops climateInfo"></i>
                  <p class="weatherDetails">Humidity-{{weather.hum*(100) }}%</p>
                </div>
                <div class="col-xs-4 singleWeatherWrapper">
                  <i class="wi wi-strong-wind climateInfo"></i>
                  <p class="weatherDetails">Wind Speed-{{weather.windSpeed}} mph</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

  


  

        