/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

/*CSS RESET.... DO NOT ALTER!*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*CUSTOM CSS*/
/*h1,h2,h3,h4,h5,h6,p,span,{
  letter-spacing: 1.1px;
  font-family: Roboto;
}
*/
.jumbotron{
  position: relative;
  background-color: #F3EFE0;
  /*margin-top: 20px;*/
}
body, .container-fluid, html{
  background-color: #F3EFE0;
}

 /*==========  Non-Mobile First Method  ==========*/
    /* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .jumbotron{
    width: 100%;
    height: 560px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .jumbotron{
    width: 100%;
    height: 560px;
  }
}
.homeHeader{
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 40px;
  letter-spacing: 20px;
  line-height: 1.5;
}
#map{
  height: 400px;
  /*width: 90%;*/
  border: 4px solid #606060;
  border-radius: 5px;
}
#gauge{
  height:170px; 
  width: 300px;
}

.informationBtn{
  background: #b7b7b7;
  height: 60px;
  width: 150px;
  margin: 20px 20px;
  text-align: center;
  border: 2px solid #87CEFA;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.informationBtn span{
  color: white;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 3.2px;
  font-variant: small-caps;
}
/*refactor using ng- animations*/
.informationBtn:hover {
  background-color: #87CEFA;
}
#pac-input {
  border: 2px solid #428BCA;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  overflow: ellipsis;
  width: 300px;
  padding: 5px;
  margin: 10px 0;
}
#foo{
  float: right;
  padding: 5px 3px;
}

.airDesc{ 
  letter-spacing: 2.4px;
  font-family: Roboto;
  font-size: 20px !important;
  font-weight: bold;
  padding-top: 70px;
  color: white;
  line-height: 1.7;
  color: #606060;
  font-variant: small-caps;
}
@media(max-width:840px){
  .airDesc{
    font-size: 14px !important;
    letter-spacing: 1.4px;
  }
}
.airHeaders{
  display: inline-block;
  letter-spacing: 1.9px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
  color: #606060;
  font-variant: small-caps;
}
.weatherDetails{
  display: inline-block;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  color: white;
  font-variant: small-caps;
  padding-top: 40px;
  /*padding-left: 50px;
  */
  margin: 0 auto;
  font-size: 13px !important;
}
@media(max-width:1046px){
  .weatherDetails{
    padding-left: 0px;
    font-size: 14px !important;
  }
}
@media(max-width:950px){
  .weatherDetails{
    padding: 0px;
    font-size: 12px !important;
  }
}
@media(max-width:840px){
  .weatherDetails{
    padding: 0px;
    font-size: 10px !important;
  }
}

.dataWrapper{
  display: inline-block;
  width: 70.7%;
  height: 400px;
  background-color: #87CEFA;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  border-radius: 5px;
  border: 4px solid #606060;
  overflow: auto;
}
.solarBtn{
  background: #939393;
  display: inline-block; 
  height: 35px;
  width: 100%;
  /*border: 1px solid #f6ae29;*/
  border-radius: 5px;
  float: left;
  transition: all 0.3s ease 0s; 
  margin-bottom: 20px;
}
/*refactor using ng- animations*/
.solarBtn:hover {
  box-shadow: inset 0 0 0 6px #87CEFA;
}
/*why isnt the font hitting?*/
.solarinfoPara{
  color: white;
  font-variant: small-caps;
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 2.5px;
  font-weight: bold;
  letter-spacing: 3.2px;
  text-align: center;
}
.solarBtn span:hover{
  letter-spacing: 6.2px;
}
.solarInfo{
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 1.1px;
  line-height: 1.2;
  overflow: scroll;
}
.airDetails{
  font-size: 12px !important;
  font-family: Roboto;
  color: white;
  letter-spacing: 1.9px;
  line-height: 1.3;
  font-variant: small-caps;
}
/*targets svg chart */
rect{
  fill: #87CEFA !important;
  margin: 0 auto;
}
.weatherWrapper{
  height: 100%;
  width: 100%;
}
.singleWeatherWrapper{
  height: 155px;
  width: 33%;
  background-color: #87CEFA;
  padding-top: 25px;
}
.firstWeatherRow .thirdWeatherRow{
  height: 40%;
  width: 100%;
  background-color: grey;
}
.secondWeatherRow{
  height: 70px;
  width: 100%;
  background-color: #87CEFA;
  text-align: center;
}
.solarWrapper{
  height: 80px;
  width: 100%;
  border-radius: 5px;
  /*add scrool bar or auto scroll*/
  overflow: scroll;
  border: 2px solid #606060;
  background-color: #999967;
  padding: 4px;
}
.solarWrapper span{
  font-variant: small-caps;
  color: white;
  letter-spacing: 2px;
}
.climateInfo{
  font-size: 40px;
  padding-left: 30px;
}
.airPres{
  padding-left: 60px;
  margin: 0 auto;
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}
svg{
  background: #87CEFA;
  margin: 0 auto;
}
.aboutText{
  display: inline-block;
  letter-spacing: 1.9px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
  color: #606060;
  font-variant: small-caps;
  line-height: 2;
}
.hideNavInfo{
  display: none;
}