#map{
  height: 400px;
  /*width: 90%;*/
  border: 2px solid red;
  border-radius: 5px;
}
.homeWrapper{
  display: block;
  background-color: gold;
  padding: 5px;
  border: solid black 1px;
  width: 100%;
  position: relative;
}
.btn.infoBtn{
  margin: 20px 0px;
  border-radius: 20px;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  margin: 10px 0;
}
.informationBtn{
  display: block;
  margin: 10px 0px;
  border-radius: 10px;
  background-color: lightblue;
}

.dataWrapper{
  display: inline-block;
  width: 66.5%;
  height: 400px;
  background-color: teal;
  position: absolute;
  left: 72px;
  opacity: .9;
}
/*wraps directional buttons to the right of the map*/
/*
.btnWrapper{

}*/