#map{
  height: 400px;
  /*width: 90%;*/
  border: 2px solid red;
  border-radius: 5px;
}
.homeWrapper{
  display: block;
  background-color: gold;
  padding: 5px;
  border: solid black 1px;
  width: 100%;
  position: relative;
}
.btn.infoBtn{
  margin: 20px 0px;
  border-radius: 20px;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  margin: 10px 0;
}
.informationBtn{
  display: block;
  margin: 10px 0px;
  border-radius: 10px;
  background-color: lightblue;
}

.dataWrapper{
  display: inline-block;
  width: 66.5%;
  height: 400px;
  background-color: #E0E0E0;
  position: absolute;
  left: 13.9vh;
  bottom: 0vh;
  opacity: .9;
  padding: 10px;

}
.airQualityIndex{
  display: inline-block;
  height: 150px;
  width: 40%;
}
.airDomPollutant{
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 350px;
  width: 55%; 
  float: right;
  background-color: green;
}
/*wraps directional buttons to the right of the map*/
/*
.btnWrapper{

}*/
#container{
  width: 400px;
  margin: : 0 auto;
  height: 355px;
}

.solarInfo{
  display: inline-block;
  font-size: 12px;
  overflow: scroll;
  height: 250px;
  width: 40%;
  background: white;
  color: black;
  font-weight: bold;
  border: 1px black solid;
  padding: 2px;
}
.solarBtn{
  float:left;
}